* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ropa Sans", sans-serif;
}

.divHeader {
    width: 100%;
    height: 48px;
    line-height: 0%;
    padding: 3% 5%;
    border: 0ch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

}

#logo {
    display: flex;
    text-align: center;
    gap: 5px;
    margin-top: 1%;
}

h1 {
    width: 63px;
    height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    color: #777777;
}

.descricao {
    padding: 0;
  
}

.descricao h2 {
    width: 38px;
    height: 100%;
    font-family: "Ropa Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    color: #AAAAAA;
    
}

#traco {
    transform: translateX(70%); 
}

.pagina {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2%;
    padding: 0 5%;
    gap: 37px;
    background: #FFFFFF;

}

#bannerImg {
    display: flex;
    width: 100%;
}

.ofertas {
    display: flex;
    justify-content: space-between;
    
}

.card {
    background-color: #EEEEEE;
    width: 39%;
    text-align: center;
    
}

.card img {
    width: 100%;
}
.descricao {
    padding-bottom: 10px;
    margin: 1% 2%;
}

.preco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
    
}

.preco p {
    font-size: 25px;
    color: #888888;
}

.preco span {
    color: white;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10.5px;
    font-size: 20px;
}

#new {
    background-color: #51D275;
}

#sale {
    background-color: #DC9730;
}

.texto {
    /* width: 231px;
    height: 44px; */

    padding: 0 12px;
    text-align: justify;
    
    margin-bottom: 4%;
    margin-top: 2.5%;
}

.categorias {
    margin-top: 5%;
}

.categorias h2 {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #888888;
    margin-bottom: 2%;
    
}

.categorias h3 {
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #FFF;
    text-align: center;
    line-height: 10rem;
}

.industrial, .moderno, .classico {
    opacity: 75%;
    background-repeat: no-repeat;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    background-size: 100%;
    background-position: center;
}
.industrial {
    background-image: url('img/industrial.png');
   
}

.moderno {
    background-image: url('img/moderno.png');
}
.classico {
    background-image: url('img/classic.png');
}

.footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mapa img {
    margin-left: 11.5%;
    height: 100%;
    width: 100%;
}
.informacoes {
    margin-right: 15%;
    margin-top: 2%;

}
.informacoes p {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 15%;
}

.redesSociais p {
    margin-bottom: 5%;
}

.imagensMedias {
    display: flex;
}

.imagensMedias img {
    margin-right: 7%;
}